//
// Copyright 2015 Telefonica Investigación y Desarrollo, S.A.U
//
// This file is part of fiware-tidoop (FI-WARE project).
//
// fiware-tidoop is free software: you can redistribute it and/or modify it under the terms of the GNU Affero
// General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
// fiware-tidoop is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
// implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
// for more details.
//
// You should have received a copy of the GNU Affero General Public License along with fiware-tidoop. If not, see
// http://www.gnu.org/licenses/.
//
// For those usages not covered by the GNU Affero General Public License please contact with
// francisco dot romerobueno at telefonica dot com
//
//
// Change password page
//
// Author: frb
//
extend layout
block content
    p
        | <b>Change password.</b>

    form(name="change_password", action="change_password", method="post")
        div.input
            span.label Password:
            br
            input(type="password", name="password1", id="password")
        div.input
            span.label Retype the password:
            br
            input(type="password", name="password2", id="password")
        div.actions
            br
            input(type="submit", value="Change password", id="submit2")
block sidebar
   .widget
      p
         | Options:

      ul
         li
            a(href="profile") - My profile
         li
            a(href="dashboard") - Dashboard

      form(name="logout", action="logout", method="get")
         div.actions
            input(type="submit", value="Logout", id="submit")
