extend layout
block content
    p
        | Welcome to Cosmos Dashboard.
    p
        | No content is available right now, but
        | stay tuned since next comming releases
        | of this dashboard will allow you to
        | manage your datasets and perform MapReduce
        | analysis.

block sidebar
    .widget
        a(href=logout) Logout
