doctype html
html
  head
    title #{title} - Cosmos GUI
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img(src='images/header_fiware.jpg')
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on Node.js with Express, Jade and Stylus
