//
// Copyright 2015 Telefonica Investigación y Desarrollo, S.A.U
//
// This file is part of fiware-tidoop (FI-WARE project).
//
// fiware-tidoop is free software: you can redistribute it and/or modify it under the terms of the GNU Affero
// General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
// fiware-tidoop is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
// implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
// for more details.
//
// You should have received a copy of the GNU Affero General Public License along with fiware-tidoop. If not, see
// http://www.gnu.org/licenses/.
//
// For those usages not covered by the GNU Affero General Public License please contact with
// francisco dot romerobueno at telefonica dot com
//
//
// Layout page
//
// Author: frb
//

doctype html

html
    head
        title #{title} - Cosmos GUI
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
        header
            img(src='/images/header_fiware.jpg')
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p
                | 2015 &copy;
                | <a href="http://www.fiware.org/">FIWARE</a>.
                | The use of FIWARE Lab services is subject to the acceptance of the
                | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions">Terms and Conditions</a>,
                | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy</a>
                | and
                | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab">Cookies Policy</a>.

