doctype html
html
  head
    title #{title} - Cosmos GUI
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      img(src='/images/header_fiware.jpg')
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p
        | 2015 &copy;
        | <a href="http://www.fiware.org/">FIWARE</a>.
        | The use of FIWARE Lab services is subject to the acceptance of the
        | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions">Terms and Conditions</a>,
        | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy</a>
        | and
        | <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab">Cookies Policy</a>.

