//
// Copyright 2015 Telefonica Investigación y Desarrollo, S.A.U
//
// This file is part of fiware-tidoop (FI-WARE project).
//
// fiware-tidoop is free software: you can redistribute it and/or modify it under the terms of the GNU Affero
// General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
// fiware-tidoop is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
// implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
// for more details.
//
// You should have received a copy of the GNU Affero General Public License along with fiware-tidoop. If not, see
// http://www.gnu.org/licenses/.
//
// For those usages not covered by the GNU Affero General Public License please contact with
// francisco dot romerobueno at telefonica dot com
//
//
// Login page
//
// Author: frb
//

extend layout

block content

    p
        | <b>Welcome to the Global Instance of Cosmos at FIWARE Lab.</b>

    p
        | Please, login to continue.

block sidebar
    .widget
        h1 What is Cosmos?

        p
            | Cosmos is the Reference Implementation of the BigData Generic Enabler.

        p
            | Please, find further information at the
            | <a href="http://catalogue.fiware.org/enablers/bigdata-analysis-cosmos">catalogue</a>.

        form(name="login", action="login", method="get")
            div.actions
                input(type="submit", value="Login", id="submit")

