extend layout

block content
  p
    | Welcome to Cosmos.

  p
    | We have detected this is your first time
    | using this instance. An account will be
    | inmediately created, please choose a
    | password:

  form(name="new_account", action="new_account", method="post")
    div.input
      span.label Password
      input(type="text", name="password1")
    div.input
      span.label Retype the password
      input(type="text", name="password2")
    div.actions
      input(type="submit", value="Create account")

block sidebar
  .widget
    h1 What is Cosmos

    p
      | Cosmos is the Reference Implementation
      | of the BigData Generic Enabler.

    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
