extend layout

block content
    p
        | Welcome to FIWARE LAB Cosmos Global Instance.
    p
        | We have detected you already had an account
        | in the old Global Instance of Cosmos at FIWARE
        | LAB. This step will simply reset your SSH
        | password; your HDFS space, data and username
        | have been moved to this new Global Instance:

    form(name="new_password", action="new_password", method="post")
        div.input
            span.label Password
            input(type="text", name="password1")
        div.input
            span.label Retype the password
            input(type="text", name="password2")
        div.actions
            input(type="submit", value="Validate account")

block sidebar
    .widget
        h1 What is Cosmos?
        p
            | Cosmos is the Reference Implementation
            | of the BigData Generic Enabler.
        p
            | Please, find further information at the
            | catalogue.
