FORMAT: 1A
HOST: http://cosmos.lab.fiware.org/

# FIWARE-COSMOS API (v1)

FIWARE-COSMOS API (v1).

This is a cookbook with commands that show how to use FIWARE cosmos API.
It's a work in progress and is changing on a daily basis.

Please check the following [FIWARE Open Specification Legal Notice (implicit patents license)]
(http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-WARE_Open_Specification_Legal_Notice_(implicit_patents_license))
to understand the rights to use this document.


# Description

This resource allows you to obtain a list of subresources published by the API:

* version of the current running tidoop
* information about jobs running on the current tidoop

## GET tidoop version [GET /tidoop/v1/version]

Gets the running version of cosmos-tidoop.

+ Request

       GET http://<tidoop_host>:<tidoop_port>/tidoop/v1/version HTTP/1.1

+ Headers

       X-Auth-Token: xXXxxxxxxXXxxxXXXxXXXxxXxxXXxx

+ Response 200 (application/json)

       [
            {
              "success": "true",
              "version": "0.2.0-next"
            }
       ]

## GET all jobs [GET /tidoop/v1/user/{userId}/jobs]

Gets the details for all the MapReduce jobs run by the given user ID.

+ Request

       GET http://<tidoop_host>:<tidoop_port>/tidoop/v1/user/{userId}}/jobs HTTP/1.1

+ Headers

       X-Auth-Token: xXXxxxxxxXXxxxXXXxXXXxxXxxXXxx

+ Response 200 (application/json)

       {
               "success": "true",
               "jobs": [{
                       "job_id": "job_1460639183882_0005",
                       "state": "SUCCEEDED",
                       "start_time": "1460963556383",
                       "user_id": "<userId>",
                       "stderr": "16/09/14 17:06:38 INFO impl.TimelineClientImpl: Timeline service address: http://dev-fiwr-bignode-12.hi.inet:8188/ws/v1/timeline/\n16/09/14 17:06:38 INFO client.RMProxy: Connecting to ResourceManager at dev-fiwr-bignode-12.hi.inet/10.95.76.79:8050\n16/09/14 17:06:39 INFO input.FileInputFormat: Total input paths to process : 1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: number of splits:1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1460639183882_0062\n16/09/14 17:06:39 INFO impl.YarnClientImpl: Submitted application application_1460639183882_0062\n16/09/14 17:06:39 INFO mapreduce.Job: The url to track the job: http://dev-fiwr-bignode-12.hi.inet:8088/proxy/application_1460639183882_0062/\n16/09/14 17:06:39 INFO mapreduce.Job: Running job: job_1460639183882_0062\n16/09/14 17:06:44 INFO mapreduce.Job: Job job_1460639183882_0062 running in uber mode : false\n16/09/14 17:06:44 INFO mapreduce.Job:  map 0% reduce 0%\n16/09/14 17:06:48 INFO mapreduce.Job:  map 100% reduce 0%\n16/09/14 17:06:54 INFO mapreduce.Job:  map 100% reduce 100%\n16/09/14 17:06:54 INFO mapreduce.Job: Job job_1460639183882_0062 completed successfully\n16/09/14 17:06:54 INFO mapreduce.Job: Counters: 49\n\tFile System Counters\n\t\tFILE: Number of bytes read=154\n\t\tFILE: Number of bytes written=201715\n\t\tFILE: Number of read operations=0\n\t\tFILE: Number of large read operations=0\n\t\tFILE: Number of write operations=0\n\t\tHDFS: Number of bytes read=252\n\t\tHDFS: Number of bytes written=128\n\t\tHDFS: Number of read operations=6\n\t\tHDFS: Number of large read operations=0\n\t\tHDFS: Number of write operations=2\n\tJob Counters \n\t\tLaunched map tasks=1\n\t\tLaunched reduce tasks=1\n\t\tRack-local map tasks=1\n\t\tTotal time spent by all maps in occupied slots (ms)=2037\n\t\tTotal time spent by all reduces in occupied slots (ms)=2327\n\t\tTotal time spent by all map tasks (ms)=2037\n\t\tTotal time spent by all reduce tasks (ms)=2327\n\t\tTotal vcore-seconds taken by all map tasks=2037\n\t\tTotal vcore-seconds taken by all reduce tasks=2327\n\t\tTotal megabyte-seconds taken by all map tasks=8343552\n\t\tTotal megabyte-seconds taken by all reduce tasks=9531392\n\tMap-Reduce Framework\n\t\tMap input records=5\n\t\tMap output records=5\n\t\tMap output bytes=138\n\t\tMap output materialized bytes=154\n\t\tInput split bytes=134\n\t\tCombine input records=5\n\t\tCombine output records=5\n\t\tReduce input groups=5\n\t\tReduce shuffle bytes=154\n\t\tReduce input records=5\n\t\tReduce output records=5\n\t\tSpilled Records=10\n\t\tShuffled Maps =1\n\t\tFailed Shuffles=0\n\t\tMerged Map outputs=1\n\t\tGC time elapsed (ms)=33\n\t\tCPU time spent (ms)=1100\n\t\tPhysical memory (bytes) snapshot=1409781760\n\t\tVirtual memory (bytes) snapshot=8519630848\n\t\tTotal committed heap usage (bytes)=2155347968\n\tShuffle Errors\n\t\tBAD_ID=0\n\t\tCONNECTION=0\n\t\tIO_ERROR=0\n\t\tWRONG_LENGTH=0\n\t\tWRONG_MAP=0\n\t\tWRONG_REDUCE=0\n\tFile Input Format Counters \n\t\tBytes Read=118\n\tFile Output Format Counters \n\t\tBytes Written=128\n",
                       "stdout": ""
               }, {
                       "job_id": "job_1460639183882_0004",
                       "state": "SUCCEEDED",
                       "start_time": "1460959583838",
                       "user_id": "<userId>",
                       "stderr": "16/09/14 17:06:38 INFO impl.TimelineClientImpl: Timeline service address: http://dev-fiwr-bignode-12.hi.inet:8188/ws/v1/timeline/\n16/09/14 17:06:38 INFO client.RMProxy: Connecting to ResourceManager at dev-fiwr-bignode-12.hi.inet/10.95.76.79:8050\n16/09/14 17:06:39 INFO input.FileInputFormat: Total input paths to process : 1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: number of splits:1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1460639183882_0062\n16/09/14 17:06:39 INFO impl.YarnClientImpl: Submitted application application_1460639183882_0062\n16/09/14 17:06:39 INFO mapreduce.Job: The url to track the job: http://dev-fiwr-bignode-12.hi.inet:8088/proxy/application_1460639183882_0062/\n16/09/14 17:06:39 INFO mapreduce.Job: Running job: job_1460639183882_0062\n16/09/14 17:06:44 INFO mapreduce.Job: Job job_1460639183882_0062 running in uber mode : false\n16/09/14 17:06:44 INFO mapreduce.Job:  map 0% reduce 0%\n16/09/14 17:06:48 INFO mapreduce.Job:  map 100% reduce 0%\n16/09/14 17:06:54 INFO mapreduce.Job:  map 100% reduce 100%\n16/09/14 17:06:54 INFO mapreduce.Job: Job job_1460639183882_0062 completed successfully\n16/09/14 17:06:54 INFO mapreduce.Job: Counters: 49\n\tFile System Counters\n\t\tFILE: Number of bytes read=154\n\t\tFILE: Number of bytes written=201715\n\t\tFILE: Number of read operations=0\n\t\tFILE: Number of large read operations=0\n\t\tFILE: Number of write operations=0\n\t\tHDFS: Number of bytes read=252\n\t\tHDFS: Number of bytes written=128\n\t\tHDFS: Number of read operations=6\n\t\tHDFS: Number of large read operations=0\n\t\tHDFS: Number of write operations=2\n\tJob Counters \n\t\tLaunched map tasks=1\n\t\tLaunched reduce tasks=1\n\t\tRack-local map tasks=1\n\t\tTotal time spent by all maps in occupied slots (ms)=2037\n\t\tTotal time spent by all reduces in occupied slots (ms)=2327\n\t\tTotal time spent by all map tasks (ms)=2037\n\t\tTotal time spent by all reduce tasks (ms)=2327\n\t\tTotal vcore-seconds taken by all map tasks=2037\n\t\tTotal vcore-seconds taken by all reduce tasks=2327\n\t\tTotal megabyte-seconds taken by all map tasks=8343552\n\t\tTotal megabyte-seconds taken by all reduce tasks=9531392\n\tMap-Reduce Framework\n\t\tMap input records=5\n\t\tMap output records=5\n\t\tMap output bytes=138\n\t\tMap output materialized bytes=154\n\t\tInput split bytes=134\n\t\tCombine input records=5\n\t\tCombine output records=5\n\t\tReduce input groups=5\n\t\tReduce shuffle bytes=154\n\t\tReduce input records=5\n\t\tReduce output records=5\n\t\tSpilled Records=10\n\t\tShuffled Maps =1\n\t\tFailed Shuffles=0\n\t\tMerged Map outputs=1\n\t\tGC time elapsed (ms)=33\n\t\tCPU time spent (ms)=1100\n\t\tPhysical memory (bytes) snapshot=1409781760\n\t\tVirtual memory (bytes) snapshot=8519630848\n\t\tTotal committed heap usage (bytes)=2155347968\n\tShuffle Errors\n\t\tBAD_ID=0\n\t\tCONNECTION=0\n\t\tIO_ERROR=0\n\t\tWRONG_LENGTH=0\n\t\tWRONG_MAP=0\n\t\tWRONG_REDUCE=0\n\tFile Input Format Counters \n\t\tBytes Read=118\n\tFile Output Format Counters \n\t\tBytes Written=128\n",
                       "stdout": ""
               }]
       }

## GET a specific job [GET /tidoop/v1/user/{userId}/jobs/{jobId}]

Gets the details for a specific MapReduce job run by the given user ID.

+ Request

      GET http://<tidoop_host>:<tidoop_port>/tidoop/v1/user/{userId}/jobs/{jobId} HTTP/1.1

+ Headers

      X-Auth-Token: xXXxxxxxxXXxxxXXXxXXXxxXxxXXxx

+ Response 200 (application/json)

       {
               "success": "true",
               "job": {
                       "job_id": "job_1460639183882_0005",
                       "state": "SUCCEEDED",
                       "start_time": "1460963556383",
                       "user_id": "<userId>",
                       "stderr": "16/09/14 17:06:38 INFO impl.TimelineClientImpl: Timeline service address: http://dev-fiwr-bignode-12.hi.inet:8188/ws/v1/timeline/\n16/09/14 17:06:38 INFO client.RMProxy: Connecting to ResourceManager at dev-fiwr-bignode-12.hi.inet/10.95.76.79:8050\n16/09/14 17:06:39 INFO input.FileInputFormat: Total input paths to process : 1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: number of splits:1\n16/09/14 17:06:39 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1460639183882_0062\n16/09/14 17:06:39 INFO impl.YarnClientImpl: Submitted application application_1460639183882_0062\n16/09/14 17:06:39 INFO mapreduce.Job: The url to track the job: http://dev-fiwr-bignode-12.hi.inet:8088/proxy/application_1460639183882_0062/\n16/09/14 17:06:39 INFO mapreduce.Job: Running job: job_1460639183882_0062\n16/09/14 17:06:44 INFO mapreduce.Job: Job job_1460639183882_0062 running in uber mode : false\n16/09/14 17:06:44 INFO mapreduce.Job:  map 0% reduce 0%\n16/09/14 17:06:48 INFO mapreduce.Job:  map 100% reduce 0%\n16/09/14 17:06:54 INFO mapreduce.Job:  map 100% reduce 100%\n16/09/14 17:06:54 INFO mapreduce.Job: Job job_1460639183882_0062 completed successfully\n16/09/14 17:06:54 INFO mapreduce.Job: Counters: 49\n\tFile System Counters\n\t\tFILE: Number of bytes read=154\n\t\tFILE: Number of bytes written=201715\n\t\tFILE: Number of read operations=0\n\t\tFILE: Number of large read operations=0\n\t\tFILE: Number of write operations=0\n\t\tHDFS: Number of bytes read=252\n\t\tHDFS: Number of bytes written=128\n\t\tHDFS: Number of read operations=6\n\t\tHDFS: Number of large read operations=0\n\t\tHDFS: Number of write operations=2\n\tJob Counters \n\t\tLaunched map tasks=1\n\t\tLaunched reduce tasks=1\n\t\tRack-local map tasks=1\n\t\tTotal time spent by all maps in occupied slots (ms)=2037\n\t\tTotal time spent by all reduces in occupied slots (ms)=2327\n\t\tTotal time spent by all map tasks (ms)=2037\n\t\tTotal time spent by all reduce tasks (ms)=2327\n\t\tTotal vcore-seconds taken by all map tasks=2037\n\t\tTotal vcore-seconds taken by all reduce tasks=2327\n\t\tTotal megabyte-seconds taken by all map tasks=8343552\n\t\tTotal megabyte-seconds taken by all reduce tasks=9531392\n\tMap-Reduce Framework\n\t\tMap input records=5\n\t\tMap output records=5\n\t\tMap output bytes=138\n\t\tMap output materialized bytes=154\n\t\tInput split bytes=134\n\t\tCombine input records=5\n\t\tCombine output records=5\n\t\tReduce input groups=5\n\t\tReduce shuffle bytes=154\n\t\tReduce input records=5\n\t\tReduce output records=5\n\t\tSpilled Records=10\n\t\tShuffled Maps =1\n\t\tFailed Shuffles=0\n\t\tMerged Map outputs=1\n\t\tGC time elapsed (ms)=33\n\t\tCPU time spent (ms)=1100\n\t\tPhysical memory (bytes) snapshot=1409781760\n\t\tVirtual memory (bytes) snapshot=8519630848\n\t\tTotal committed heap usage (bytes)=2155347968\n\tShuffle Errors\n\t\tBAD_ID=0\n\t\tCONNECTION=0\n\t\tIO_ERROR=0\n\t\tWRONG_LENGTH=0\n\t\tWRONG_MAP=0\n\t\tWRONG_REDUCE=0\n\tFile Input Format Counters \n\t\tBytes Read=118\n\tFile Output Format Counters \n\t\tBytes Written=128\n",
                       "stdout": ""
               }
       }

## POST a specific job in cosmos-tidoop [POST /tidoop/v1/user/{userId}/jobs]

Runs a MapReduce job given the following parameters:

* Java jar containing the desired MapReduce application.
* The name of the MapReduce application.
* Any additional library jars required by the application.
* The input HDFS directory in the storage cluster.
* The output HDFS directory in the storeage cluster.


+ Request

       POST http://<tidoop_host>:<tidoop_port>/tidoop/v1/user/{userId}/jobs HTTP/1.1
       {
               "jar": "/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar",
               "class_name": "wordcount",
               "args":[
                  "hdfs://storage.cosmos.lab.fiware.org/user/{userId}/testdir",
                  "hdfs://storage.cosmos.lab.fiware.org/user/{userId}/testoutput"
                ]
       }

+ Headers

       X-Auth-Token: xXXxxxxxxXXxxxXXXxXXXxxXxxXXxx

+ Response 200 (application/json)

       {
               "success": "true",
               "job_id": "job_1460639183882_0005"
       }

## DELETE a job on cosmos-tidoop [DELETE /tidoop/v1/user/{userId}/jobs/{jobId}]

Deletes the given MapReduce job run by the given user ID.

+ Request

       DELETE http://<tidoop_host>:<tidoop_port>/tidoop/v1/user/{userId}/jobs/{jobId} HTTP/1.1

+ Headers

       X-Auth-Token: xXXxxxxxxXXxxxXXXxXXXxxXxxXXxx

+ Response 200 (application/json)

       {
               "success": "true",
       }
